
<form action='/names' method='post' name='names'>
  <h1>What are the players name</h1>
  <h2>Player 1</h2>
  <input type='text' name='player_1'>
  <h2>Player 2</h2>
  <input type='text' name='player_2'>
  <input type="submit" name="Submit">
</form>

