.block1 {
  width: 100%;
  height: 50%;
}

.block2 {
  width: 100%;
  height: 50%;
}

.block3 {
  width: 100%;
  height: 50%;
  margin: 0;
}

.block4{
  width: 100%;
  height: 50%;
}

.g-block-1 {
  width: 50%;
  float: left;
}

.g-block-2 {
  width: 50%;
  float: right;
}

h1 {
  margin: 0;
}